<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,script,links)">
    <title th:replace="${title}">Hielo by TEMPLATED</title>
    <title th:if="${title}" th:text="${title}">title를 입력하세요.</title>
    <!-- 공통 -->
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/common.css">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.scrollex.min.js"></script>
    <script type="text/javascript" src="/js/skel.min.js"></script>
    <script type="text/javascript" src="/js/util.js"/>
    <script type="text/javascript" src="/js/assets/util.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>


    <!--/* 추가 스크립트 */-->

    <!--/* 아래처럼 작성하는경우
        Error resolving fragment: "${script}": template or fragment could not be resolved 발생
    */-->
    <!--/* th:block th:if="${links != null}"  th:replace="${links}" */-->

    <th:block th:if="${script != null}">
        <th:block th:replace="${script}" />
    </th:block>


    <th:block th:if="${links != null}">
        <th:block th:replace="${links}" />
    </th:block>


</head>

