<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment" id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
    </div>
</footer>

<div th:fragment="copyrightFragment" class="copyright">
    토이프로젝트 시작 <a href="/"></a>.
</div>

</html>