<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{/user/layout/common/base :: common_header(~{::title}, ~{::script}, ~{::link})}">
    <title> 초대장 만들기 </title>
    <link rel="stylesheet" href="/css/create/create.css">
    <!--/* 달력 */-->
    <link rel="stylesheet" href="/css/toastui/toastui-calendar.min.css" />

    <script type="text/javascript" src="/js/sortablejs/Sortable.min.js"></script>
    <script type="text/javascript" src="/js/api/api_create.js"></script>
    <script type="text/javascript" src="/js/create/create.js"></script>




</head>

<body>
    <!--/*
    <th:block th:replace="~{/user/layout/common/base :: customScript }">
        <script>
            $(function(){
                console.log("이 페이지에서만 실행하는 스크립트 입니다.");
            });
        </script>
    </th:block>
    */-->
<!--/* 공통 영역 st */-->
<!-- Header -->
<header th:replace="~{/user/layout/common/header :: headerFragment}"></header>
<!-- Nav -->
<nav th:replace="~{/user/layout/common/navi :: naviFragment}"></nav>

<section th:replace="~{/user/layout/common/navi :: sectionFragment}"></section>
<!--/* 공통 영역 end */-->


<div id="main" class="container">
    <div class="row 200%">
        <!--/* 왼쪽 영역 */-->
        <div th:replace="~{/create/create_setting :: settingFragment}">

        </div>


        <!--/* 오른쪽 영역 */-->
        <div th:replace="~{/create/create_preview :: previewFragment}">

        </div>

    </div>
</div>



<!--/* 공통 영역 st */-->
<footer th:replace="~{/user/layout/common/footer :: footerFragment}" id="footer"></footer>
<div th:replace="~{/user/layout/common/footer :: copyrightFragment}"></div>
<!--/* 공통 영역 end */-->

</body>
</html>
