<html xmlns:th="http://www.thymeleaf.org">


    <div th:fragment="settingFragment" class="6u 12u$(medium) left">
        <h4>1. 만들고 싶은 초대장 타입을 선택해주세요.</h4>
        <div class="row">
            <div th:each="type, iterStat : ${inviteTypes}" class="4u 12u$(small)">
                <input type="radio" name="inviteType" th:value="${type}" th:id="'type_' + ${type.name()}"
                       th:checked="${iterStat.index == 0}"
                />
                <label th:for="'type_' + ${type.name()}" th:text="${type.getName()}">ENUM 이름</label>
            </div>
        </div>

        <hr>

        <h4>2. 선택하고 싶은 옵션을 골라주세요.</h4>
        <ul class="actions small ul_btn" >
            <li><a href="javascript:void(0);" class="button alt sel_del">선택삭제</a></li>
            <li><a href="javascript:void(0);" class="button special small del">초기화</a></li>
        </ul>

        <div class="row">
            <div class="6u 12u${small}">
                <div class="option">
                    <ul id="baseItem">
                        <li>초대 문구</li>
                        <li>사진</li>
                    </ul>
                </div>
            </div>
            <div class="6u 12u${small}">
                <div class="option">
                    <ul id="selectedItem">

                    </ul>
                </div>
            </div>
        </div>

        <h5>현재 선택한 옵션 입니다. 옵션 저장 버튼을 누르면 화면에 어떻게 나올지 표시 됩니다.</h5>
        <ul class="actions small save_btn none" >
            <li><a href="javascript:void(0);" class="button special small save">옵션저장</a></li>
        </ul>
        <div class="row">
            <div class="box">
                <p></p>

            </div>
        </div>

    </div>

</html>