<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/user/layout/common/base :: common_header(~{::title}, ~{::script}, ~{::link})}">
    <title> 회원가입 페이지 </title>
    <link rel="stylesheet" href="/css/member/signup.css">
    <script type="text/javascript" src="/js/member/signup.js"></script>
</head>

<body>

<!--/* 공통 영역 st */-->
<!-- Header -->
<header th:replace="~{/user/layout/common/header :: headerFragment}"></header>
<!-- Nav -->
<nav th:replace="~{/user/layout/common/navi :: naviFragment}"></nav>
<!--/* 공통 영역 end */-->


<!-- One -->
<section id="One" class="wrapper style3">
    <div class="inner">
        <header class="align-center">

        </header>
    </div>
</section>

<section id="two" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="content">
                <header class="align-center"><p>회원 가입을 진행해주세요.</p>
                    <h2>회원가입</h2>
                </header>

                <form method="post" action="">
                    <input type="hidden" name="memberType" value="USER"/>
                    <input type="hidden" name="loginType" value="SITE"/>
                    <div class="row uniform">

                        <!--/*
                        <div class="12u$ 12u$(xsmall) align-center">
                            <div class="6u$ 12u$(xsmall) mga">
                                <input type="text" name="memberId" id="memberId" value="" placeholder="Id" class="2u$">
                                <input type="submit" value="중복확인" class="fit 3u$">
                            </div>
                        </div>
                        */-->

                        <div class="12u$ 12u$(xsmall) align-center">
                            <div class="6u 12u$(xsmall) mga">
                                <div class="row uniform">
                                    <div class="9u 12u$(small)">
                                        <input type="text" name="memberId" id="memberId" value="" placeholder="Id" class="2u$">
                                    </div>
                                    <div class="3u$ 12u$(small)">
                                        <input type="button" value="중복확인" class="fit" id="dupChcek">
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="12u$ 12u$(xsmall) align-center">
                            <div class="6u$ 12u$(xsmall) mga">
                                <input type="password" name="password" id="password" value="" placeholder="password">
                            </div>
                        </div>

                        <div class="12u$ 12u$(xsmall) align-center">
                            <div class="6u$ 12u$(xsmall) mga">
                                <input type="text" name="name" id="name" value="박준일" placeholder="password">
                            </div>
                        </div>

                        <div class="12u$ 12u$(xsmall)">
                            <div class="6u$ 12u$(xsmall) mga">
                                <input type="email" name="email" id="email" value="" placeholder="Email">
                            </div>
                        </div>

                        <!-- Break -->
                        <div class="12u$ 12u$(xsmall)">
                            <div class="6u$ 12u$(xsmall) btn_ul_r_div" >
                                <ul class="actions btn_ul_r_ul" >
                                    <li><input type="reset" value="Reset" class="alt"></li>
                                    <li><input type="submit" value="Send Message"></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>
</section>



<!--/* 공통 영역 st */-->
<footer th:replace="~{/user/layout/common/footer :: footerFragment}" id="footer"></footer>
<div th:replace="~{/user/layout/common/footer :: copyrightFragment}"></div>
<!--/* 공통 영역 end */-->




</body>
</html>
