<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/user/layout/common/base :: common_header(~{::title}, ~{::script}, ~{::link})}">
    <title> 회원가입 페이지 </title>
    <link rel="stylesheet" href="/css/member/signup.css">
    <script type="text/javascript" src="/js/member/api/api_signup.js"></script>
    <script type="text/javascript" src="/js/member/signup.js"></script>
</head>


<script>
    $(function(){
        console.log("이페이지에서만 따로 쓰고 싶다...");
    });
</script>
<body>

<!--/* 공통 영역 st */-->
<!-- Header -->
<header th:replace="~{/user/layout/common/header :: headerFragment}"></header>
<!-- Nav -->
<nav th:replace="~{/user/layout/common/navi :: naviFragment}"></nav>
<section th:replace="~{/user/layout/common/navi :: sectionFragment}"></section>
<!--/* 공통 영역 end */-->

<section id="two" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="content">
                <header class="align-center"><p>회원 가입을 진행해주세요.</p>
                    <h2>회원가입</h2>
                </header>

                <form method="post" action="" name="frm">
                    <input type="hidden" name="memberType" value="USER"/>
                    <input type="hidden" name="signUpType" value="SITE"/>
                    <div class="row uniform">

                        <!--/*
                        <div class="12u$ 12u$(xsmall) align-center">
                            <div class="6u$ 12u$(xsmall) mga">
                                <input type="text" name="memberId" id="memberId" value="" placeholder="Id" class="2u$">
                                <input type="submit" value="중복확인" class="fit 3u$">
                            </div>
                        </div>
                        */-->

                        <div class="12u$ 12u$(xsmall) align-center">
                            <div class="6u 12u$(xsmall) mga">
                                <input type="text" name="memberId" id="memberId" value="" placeholder="Id" class="2u$">
                                <p class="none">아이디는 6이상 ~15글자 이하로 입력 해주세요.</p>
                            </div>
                        </div>


                        <div class="12u$ 12u$(xsmall) align-center">
                            <div class="6u$ 12u$(xsmall) mga">
                                <input type="password" name="password" id="password" value="" placeholder="password">
                            </div>
                        </div>

                        <div class="12u$ 12u$(xsmall) align-center">
                            <div class="6u$ 12u$(xsmall) mga">
                                <input type="password" name="passwordConfirm" id="passwordConfirm" value="" placeholder="passwordConfirm">
                            </div>
                        </div>

                        <div class="12u$ 12u$(xsmall) align-center">
                            <div class="6u$ 12u$(xsmall) mga">
                                <input type="text" name="name" id="name" value="박준일" placeholder="password">
                            </div>
                        </div>

                        <div class="12u$ 12u$(xsmall)">
                            <div class="6u$ 12u$(xsmall) mga">
                                <input type="email" name="email" id="email" value="" placeholder="Email">
                            </div>
                        </div>

                        <!-- Break -->
                        <div class="12u$ 12u$(xsmall)">
                            <div class="6u$ 12u$(xsmall) btn_ul_r_div" >
                                <ul class="actions btn_ul_r_ul" >
                                    <li><input type="button" value="로그인페이지" class="login"></li>
                                    <li><input type="button" value="회원 가입" class="submit_btn"></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>
</section>



<!--/* 공통 영역 st */-->
<footer th:replace="~{/user/layout/common/footer :: footerFragment}" id="footer"></footer>
<div th:replace="~{/user/layout/common/footer :: copyrightFragment}"></div>
<!--/* 공통 영역 end */-->




</body>
</html>
