
@charset "UTF-8";
.mga{margin:auto}
.tred{color:red;}
.tgreen{color:green;}
.alarm_r{float: right;margin-top: 10px; color:red; font-size:11px;}
.alarm_g{float: right;margin-top: 10px; color:green; font-size:11px;}
.none{display:none;}
.show{display:block;}