<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/user/layout/common/base :: common_header(~{::title}, ~{::script}, ~{::links})}">
    <title> 마이페이지 </title>
    <script type="text/javascript" src="/js/main.js"></script>
</head>

<body>

<!--/* 공통 영역 st */-->
<!-- Header -->
<header th:replace="~{/user/layout/common/header :: headerFragment}"></header>
<!-- Nav -->
<nav th:replace="~{/user/layout/common/navi :: naviFragment}"></nav>
<!--/* 공통 영역 end */-->




<!--/* 공통 영역 st */-->
<footer th:replace="~{/user/layout/common/footer :: footerFragment}" id="footer"></footer>
<div th:replace="~{/user/layout/common/footer :: copyrightFragment}"></div>
<!--/* 공통 영역 end */-->

</body>
</html>
